
.header-container{
    text-align: center;
    margin-top: 20px;
}
.header-text{
    font-size: 40px;
    display: inline-block;
    font-family: Source Sans Pro SemiBold;
}

.header-buttons-container{
    float: right;
    margin-top: 10px;
    font-size: 16px;
}
.header-buttons-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
 }
.reset-button{
    display: inline-block;
    padding: 0px 10px; 
    border-right: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
}
.gtrust-homepage-button{
    display: inline-block;
    padding: 0px 10px; 
    cursor: pointer;
}